
.container_meniu
{
      text-align: center;
      width: 100%;
      height: 80px;
      background: aquamarine;
      box-shadow: 0 10px 20px black;
}

.container_meniu .meniu
{
      display: flex;
      position: relative; 
      color: brown;
}

.container_meniu .meniu li
{
      font-size: 30px;
      list-style-type: none;
      flex: 1;
}